label{font-size: 3vw;margin-top: 2vw;font-family: Georgia, 'Times New Roman', Times, serif;}

body {

    background: linear-gradient(to bottom, navy, black);
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.custom-form {
    background: linear-gradient(to bottom, navy, black , navy);
    width: 50vw;
    height: 50vw;
    border-radius: 3vw;
    border: solid .3vw;
    color: white;
    box-shadow: .5vw .5vw .5vw .5vw white;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-input {
    width: 90%;
      
    font-size: 3vw;
    text-align: center;
    border: solid .4vw white;
    border-radius: 2vw;
    background: linear-gradient(to bottom, navy, black );
    color: white;
   
}



.Textarea-input {
    width: 90%;
   
      
    font-size: 4vw;
    text-align: center;
    border: solid .4vw white;
    border-radius: 2vw;
    background: linear-gradient(to bottom, navy, black );
    color: white;
    margin-bottom: 1rem;
}



.custom-input::placeholder {
    color: #ccc;
}

.custom-button {
    font-size: 3vw;
    background: linear-gradient(to bottom, navy, black);
    border: solid .2vw white;
    width: 15vw;
    margin-top: 3vw;
    height: 6vw;
    border-radius: 3vw;
    cursor: pointer;
    color: white;
}

.Message{font-size: 5vw; color: #ffffff; text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;}