{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{% static '/css/Invoice.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <div>
    <a href="{% url 'Base:Welcome' %}" ><i style="font-size:10vw;color: white;" class="fa fa-arrow-left ArrowSZ"></i></a>
  </div>

  <div class="Message">
    {% if messages %}
    {% for message in messages %}  
    {{ message }}
    {% endfor %}
    {% endif %}
    </div>
  
  <div class="container form-container">
    <h1 style="color: aliceblue;text-align: center; font-size: 5vw; font-family: Georgia, 'Times New Roman', Times, serif;"> View invoice </h1>
    <form method="post">
      {% csrf_token %}   
      <input placeholder="Email" type="email" id="email" name="email" required>
      <input placeholder=" Enter invoice Id" type="text" id="name" name="InvoiceNum" required>    
      <input type="submit" value="Next">
    </form>
  </div>



</body>
</html>
