
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static '/css/Price.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Web Development Services and Prices</title>
</head>
<body>
    <div class="return-btn-container">
        <a href="{% url 'Base:Welcome' %}" class="return-btn"><i class="fa fa-arrow-left"></i></a>
    </div>

    <h1>Services and Prices</h1>

    <div class="container table-container">
        <table>
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>

              {% if Service %}
                {% for service in Service %}
                <tr>
                    <td>{{ service.Service }}</td>
                    <td>{{ service.Description }}</td>
                    <td> $ {{ service.BaseFee }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    
</body>
</html>

